.contentboxlinks {
    border: 3px whitesmoke solid;
    padding: 14px;
    border-radius: 1px;
    background-color: black;
}

/*---------------------------------------------------------------------*/

.pagetitle {
    color: whitesmoke;
    font-family: Scott;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}
@media screen and (min-width: 640px) {
    .pagetitle {
        font-size: 27px;
    }
}
@media screen and (min-width: 1280px) {
    .pagetitle {
        font-size: 35px;
    }
}
.pagetitlelegend {
    color: whitesmoke;
    font-family: Scott;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
@media screen and (min-width: 640px) {
    .pagetitlelegend {
        font-size: 27px;
    }
}
@media screen and (min-width: 1280px) {
    .pagetitlelegend {
        font-size: 35px;
    }
}

/*---------------------------------------------------------------------*/

.linkicon {
    margin-right: 5px;
    font-size: 11px;
}
@media screen and (min-width: 640px) {
    .linkicon {
        font-size: 16px;
    }
}
font-size: 50px;

/*---------------------------------------------------------------------*/

.resourcelink {
    margin-left: 5px;
    font-size: 11px;
}
.resourcelink a {
    color: whitesmoke;
    text-decoration: none;
}
.resourcelink a:hover {
    color: whitesmoke;
    text-decoration: underline lightgray;
}
@media screen and (min-width: 640px) {
    .titlelink,
    .resourcelink {
        font-size: 18px;
    }
}

/*-----------------------------------------------------------------------------------------------------------------*/

.paragraphlink {
    color: white;
}
.paragraphlist {
    padding-left: 30px;
    padding-right: 30px;
}
