* {
    position: relative;
}
html {
    scroll-behavior: smooth
}
body {
    background-image: url("/images/background.gif");
    background-color: black;
    background-size: 150px;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    margin-left: -1px;
}

/*------------------------------------------------------------------------------------*/


/*--Container--*/

#Container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 640px) {
    #Container {
        width: 80%;
    }
}
@media screen and (min-width: 1024px) {
    #Container {
        width: 1024px;
    }
}

/*------------------------------------------------------------------------------------*/


/*--Logo--*/

.pagelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .25s;
    animation: rlogoanim 1.5s;
    width: 80%;
}
@media screen and (min-width: 640px) {
    .pagelogo {
        width: 550px;
    }
}
@media screen and (min-width: 1024px) {
    .pagelogo {
        width: 750px;
    }
}
.pagelogo:hover {
    transform: scale(1.15);
    transition: .25s;
}
@keyframes rlogoanim {
    from {
        top: 20vh;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.LogoLink {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
