@font-face {
  font-family: Josefine;
  src: url(...../files/fonts/josefine.ttf);
}

@font-face {
  font-family: F25;
  src: url(/fonts/F25.ttf);
}

@font-face {
  font-family: Cookie;
  src: url(...../files/fonts/cookie.ttf);
}

/*-------------------------------------------------------------------------------------*/

.contentboxmain{
  border:3px whitesmoke solid;
  padding:0px;
}

/*-------------------------------------------------------------------------------------*/

.documentparagraph{
  font-size:13px;
  padding-left:20px;
  padding-right:20px;
}

.documenthr{
  width:98%;
}

.infoparagraph{
  font-size:16px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
}