.fourofour {
    text-align: center;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 40%;
}
#Container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    width: 100%;
}
@font-face {
    font-family: Comicsans;
    src: url(/fonts/comic.ttf);
}
body::-webkit-scrollbar {
    display: none;
    /*--Chrome/Safari/Opera Scrollbar--*/
}
