table {
    width: 100%;
}
table,
th,
td {
    border: 2px solid white;
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
    font-size: 8px;
}
.nobreak {
    word-break: keep-all;
}
.EmployeeRow:hover {
    background-color: #262626;
}
@media screen and (min-width: 640px) {
    table,
    th,
    td {
        font-size: 13px;
    }
}
.addinfopar {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
