.chartable {
    width: 100%;
    background-color: black;
}
.chartable th,
.chartable td,
.chartable {
    border: 2px solid white;
    border-collapse: collapse;
}
.chartable th,
.chartable td {
    padding: 5px;
    font-size: 8px;
}
@media screen and (min-width: 640px) {
    .chartable th,
    .chartable td,
    .chartable {
        font-size: 13px;
    }
}
.addinfopar {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.nobreak {
    word-break: keep-all;
}
.EmployeeRow:hover {
    background-color: #262626;
}

/*-------------------------------------------------------------------------*/

.imgwrap {
    position: relative;
}
.mainicon {
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
}
.mainicon:hover {
    max-width: 150px;
    max-height: 150px;
    filter: grayscale(0%);
}
.ImgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgdescription {
    font-size: 12.5px;
    background: black;
    color: #fff;
    transition: opacity .2s, visibility .2s;
    margin-top: -0px;
    margin-bottom: 50px;
    text-decoration: none;
}
.workedon {
    text-decoration: none;
}
.workedon:hover {
    text-decoration: underline white;
}
.workinonit {
    text-shadow: 0 0 9px white;
    color: transparent;
    text-decoration: none;
}
.workinonit {
    text-shadow: 0 0 9px white;
    color: transparent;
}
